@import '../../styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';

@include nb-install-component() {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .socials {
    font-size: 2rem;

    a {
      padding: 0.4rem;
      color: nb-theme(text-hint-color);
      transition: color ease-out 0.1s;

      &:hover {
        color: nb-theme(text-basic-color);
      }
    }
  }

  @include media-breakpoint-down(is) {
    .socials {
      font-size: 1.5rem;
    }
  }

  .inputCss{
    padding: 12px;
    border: 1px solid #E2E2E2;
  }

  .buttonCss{
    padding: 12px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    background-color: #FDC52A;
    border: 1px solid #FDC52A;
    cursor: pointer;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    bottom: 35px;
    right: 0;
  }
}
