<div class=" row" style="width: 100%"> 
    <div class="col-3">
        <h3>
            À propos
        </h3>
        <span >
            Livraison
        </span>
    </div>
    <div  class="col-3">
        <h3>
            Saveurs Cook&Bio
        </h3>
        <span style="cursor: pointer;" (click)="redirectToListProduit()"> 
            Nos paniers
        </span>
    </div>
    <div  class="col-3">
        <h3>
            Saveurs Cook&Bio
        </h3>
        <h6 style="font-weight: normal;">Ne manquez pas les exclusivité du chef !</h6>
        <input class="inputCss" type="email" name="email-774" value="" size="40"  aria-required="true" aria-invalid="false" placeholder="Votre adresse mail">
        <input class="buttonCss" type="submit" value="Ok"  disabled="">
    </div>
    <div  class="col-3">
        <iframe style="border: 0; border-top-right-radius: 5%; border-bottom-left-radius: 5%;" 
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2710.207049454749!2d-1.5729033!3d47.2125309!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ec0fcda6c4cb%3A0xd620ca38dafa1e9a!2s2+Rue+La+Motte+Picquet%2C+44100+Nantes!5e0!3m2!1sfr!2sfr!4v1423244007186"
         width="100%" height="200" frameborder="0"></iframe>
    </div>
</div>
