.card {
    transition: 0.3s; 
    padding: 10px;
  }
  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  
  div.container {
    text-align: center;
    padding: 10px 20px;
    
  }

  .titles{
    text-transform: uppercase !important;
    color: rgb(102, 61, 173)  !important;
  }
  ::ng-deep .nb-theme-default ng2-smart-table table tr td img{
    max-width: 50px !important;
  }

  .images-product{
      
    max-width: 50px !important;
  }
  .shadow-style{
    
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
  }
  