

.mat-card-avatar {
    height: 40px;
    width: 0px;
}
.titles{
  text-transform: uppercase !important;
  color: rgb(102, 61, 173)  !important;
}
.price {
  color: #689F38;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}
