<mat-card class="example-card" style="width: 100%; height: 100%;">
  <div (click)="cardDetailOnClick()" style="cursor: pointer;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="titles">{{cardObject?.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{cardObject?.image}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{cardObject?.description}}
        </p>
      </mat-card-content>
  </div>
    <mat-card-actions style="text-align: right;">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="actionOnClick()">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
 </mat-card>




