<nb-card>
    <nb-card-header style="text-align: left;">
      <h2 class="ui header">Gestion des Activitée </h2><br>
      <h5 class="ui dividing header">Permet de modifier une activitee</h5>
    </nb-card-header>
  </nb-card>
    <nb-card class="row one column centered grid content">
        <nb-card-body>
          
          <h1 class="font">Info</h1>
          <hr class="hrstyle"> 
          
        <div class="row show-grid" style="margin-bottom: 10px">
          <div class= "col-md-6 row show-grid" > 
            <div class= "col-md-2"><label for="type">Type : </label></div>
            <div class= "col-md-4"><input type="text" id="type" [(ngModel)]="activitee.type" nbInput [ngModelOptions]="{standalone:true}" style="width: 300px"  placeholder="Type"></div>
            </div>
          <div class= "col-md-6 row show-grid" >
              <div class= "col-md-2"><label for="date" >Date : </label></div>
              <div class= "col-md-4"> <input type="date" id="date"  [(ngModel)]="activitee.date" nbInput [ngModelOptions]="{standalone:true}" style="width: 300px;"  placeholder="Date"></div>
          </div>
        </div> 

        <div class="row show-grid">
            <div class= "col-md-6 row show-grid" >
                <div class= "col-md-2"><label for="duree" >Durée : </label></div>
                <div class= "col-md-4"> <input type="text" id="duree" [(ngModel)]="activitee.duree" nbInput [ngModelOptions]="{standalone:true}"  style="width: 300px"  placeholder="Duree"></div>
              </div> 
            <div class= "col-md-6 row show-grid " > 
                <div class= "col-md-2"><label for="IdCategorie">Catégorie : </label></div>
                <div class= "col-md-4"><input type="text" id="IdCategorie" [(ngModel)]="activitee.categorie_id" nbInput [ngModelOptions]="{standalone:true}" style="width: 300px"   placeholder="IdCategorie"></div>
           </div> 
        </div>   
        <div  style="margin-top: 10px" > 
            <div class= "col-md-4"><label for="IdCategorie">Liste des Collaborateurs : </label></div>
            <div class= "col-md-5"><textarea rows="5" readonly nbInput fullWidth placeholder="Collaborateur"  [(ngModel)]="activitee.collaborationActivitee"  [ngModelOptions]="{standalone:true}"></textarea></div>
       </div>

       <div class="sixteen wide column ui right aligned" style="margin: 0px; text-align: center">
          <button mat-raised-button color="white" class="btn-blanc" (click)="goToRetour()">
              <mat-icon>keyboard_return</mat-icon> Annuler
          </button>
          <button mat-raised-button class="btn btn-primaire btnWithIcone" style="margin-left: 15px;"
          [disabled]="isDisabled" (click)="updateActivitee()">
              Enregistrer <mat-icon>send</mat-icon>
          </button>
      </div>
    </nb-card-body>
</nb-card>

              <!--
            <div class="row show-grid" style="margin-bottom: 10px">
              <div class= "col-md-6" >
                <label for="date" >Date : </label>
                <input type="date" id="date"  [(ngModel)]="activitee.date"  [ngModelOptions]="{standalone:true}" style="margin-left: 15px; width: 300px;"  placeholder="Date">
              </div>
              <div class= "col-md-6 " >
                <label for="duree" >Durée : </label>
                <input type="text" id="duree" [(ngModel)]="activitee.duree"  [ngModelOptions]="{standalone:true}"  style="margin-left: 50px;width: 300px"  placeholder="Duree">
              </div> 
            </div> 
            <div class="row show-grid">
                <div class= "col-md-6 " > 
                  <label for="type">Type : </label>
                  <input type="text" id="type" [(ngModel)]="activitee.type"  [ngModelOptions]="{standalone:true}" style="margin-left: 13px; width: 300px"  placeholder="Type">
                </div>
                <div class= "col-md-6 " > 
                 <label for="IdCategorie">Id Catégorie : </label>
                  <input type="text" id="IdCategorie" [(ngModel)]="activitee.categorie_id"  [ngModelOptions]="{standalone:true}" style=" margin-left: 11px; width: 300px"   placeholder="IdCategorie">
               </div>
            </div>   
                <div style="text-align: center; margin-top: 30px; margin-right: 30px;">
                   <button class="btn btn-xs btn-primary" (click)="add()" >Save</button>
                </div>
        </nb-card-body>
    </nb-card>
    -->
