.font{
    font-size: 18px;
    font-style: italic;
    font-style: italic;
}
.hrstyle {
    border: 1px solid #73a1ff;
    width: 100%
  }

  .btnWithIcone{
    background-color: rgba(45,67,167,.932);
    color: #e0dcdc;
    padding: 6px 16px;
}