
<div class="centered-component card row justify-content-center" >
    <div class="col-12 forms">
      <form #form="ngForm">  
            <h2 id="heading" class="titles" >Ajouter un produit</h2> 
                  <div class="form-group " >
                    <label for="title">Titre</label>
                    <input type="text" class="form-control"
                      id="title" name="title" [(ngModel)]="product.title" >
                  </div>
                  <div class="form-group ">
                    <label for="description">Description</label>
                    <textarea type="text"  id="description" name="description" 
                      class="form-control" [(ngModel)]="product.description"  ></textarea>
                  </div>
                
                    <div class="form-group " >
                      <label for="image">Image</label>
                      <input type="file"  id="image" name="image"  [(ngModel)]="product.image" class="form-control" (change)="onFileChanged($event)" #fileInput >
                    </div>
                    <div class="form-group " >
                      <img src="{{imageUrl}}" width="60" height="50">
                    </div>
                    <div lass="form-group " >
                      <label for="price">Prix</label>
                      <input type="number"  id="price" name="price" 
                        class="form-control"  [(ngModel)]="product.price"  >
                      </div>
                      <div lass="form-group " >
                        <label for="quantite">Quantité</label>
                        <input type="number"  id="quantite" name="quantite" 
                          class="form-control" [(ngModel)]="product.quantity"  >
                        </div>
                      <br>
                      <button mat-raised-button color="primary" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" (click)= "save()" >
                        Save
                      </button> 
            </form>
        </div>
</div>