<div class="header-container" >
  <div class="logo-container">
    <!--
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    -->
    <img src="../../../../assets/images/logo.PNG"  (click)="navigateHome()" style="max-height: 70px;max-width: 120px; cursor: pointer"/>
    <!--<a class="logo" href="#" (click)="navigateHome()">cook-<span>bio</span></a>-->
  </div>
 <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container " style="text-align: left; width: 100%;">
  <nb-actions size="small">
    <nb-action class="control-item"  style="cursor: pointer; font-size: initial;" (click)="redirectToProductList()"> Panier repas </nb-action>
    <nb-action class="control-item"  style="cursor: pointer; font-size: initial;" (click)="redirectToEventsList()"> Atelier de cuisine</nb-action>
  </nb-actions>
</div>

<div class="header-container " >
 <button mat-stroked-button color="primary" *ngIf="!currentUser" class="mat-focus-indicator mat-stroked-button mat-button-base mat-primary" style="margin-right: 10px; float: right;" (click)="goToLogin()">Se connecter</button>

 <button mat-mini-fab color="primary" (click)="goToPanier()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
