
<div class="image-card shadow-style"> </div>


<div class=" row content-home " style="width: 100% !important;">

    <div class="col-12 ">
        <hr>
        <div class="row col-12">
            <div class="col-3"  *ngFor="let product of products"  >
                    <ngx-card  [cardObject]="product" [button]="cartButton" ></ngx-card>
           </div>
        </div>
    </div>
      <hr>

      <div class="col-12 " class="slides-div  shadow-style" style="padding: 0;">
        <div class="accroche">
            <div class="accroche-text"> 
                <p data-wahfont="18" style=" font-weight: 600 !important;" >Saveurs Cook &amp; Bio débarque dans votre cuisine !
                 Marre de faire la queue au magasin, on s’occupe de tous ! 
                 Des box Bio prête à cuisiner, avec au menu des recettes simples et rapides à 
                réaliser à base de produits made in France élaborée par le Chef Duclass. 
                Livré directement chez vous chaque semaine il ne vous reste plus qu’à cuisiner. 
                Et si vous ne savez pas cuisiner, le Chef propose des ateliers de cuisine 
                ftous les mercredis, vendredis et week-ends. </p>
            </div>
        </div>
    </div>

    <div class="container my-4 shadow-style" style="background-color: white; margin: 0 !important; max-width: 100% !important;">

        <p class="font-weight-bold" style="font-weight: bold;" >Saveurs Cook & Bio débarque dans votre cuisine ! Marre de faire la queue au magasin, on s’occupe de tous !
            Des box Bio prête à cuisiner, avec au menu des recettes simples et rapides à réaliser à base de produits made in France élaborée par le Chef Duclass.
            Livré directement chez vous chaque semaine il ne vous reste plus qu’à cuisiner.
            </p>

        <p style="font-weight: bold;" ><strong>Et si vous ne savez pas cuisiner, le Chef propose des ateliers de cuisine tous les mercredis, vendredis et week-ends..</strong></p>

        <hr>
        <div class="row col-12"> 
            <div style="width: 100%;margin: 10px;text-align: center;">
                <h2>
                    Comment ça se passe ?
                </h2>
            </div>
            <div class="col-3" style="padding: 0px;">
                <div style="width: 100%; height: 250px;">
                    <img src="../../../assets/images/cmqg.PNG">
                </div>
                <div>
                  <h3 style="color: #673ab7;">
                      C'est moi qui gère
                  </h3>
                </div>
                <div>
                    <img src="../../../assets/images/cmqgText.PNG" >
                </div>
            </div>
            <div class="col-3"  style=" padding: 0px;">
                <div style="width: 100%; height: 250px;">
                    <img src="../../../assets/images/osdt.PNG" style="width:100%">
                </div>
                <div>
                    <h3 style="color: #673ab7;">
                        On s'occupe de tout
                    </h3>
                </div>
                <div >
                    <img src="../../../assets/images/osdtText.PNG">
                </div>
            </div>
            <div class="col-3"  style="padding: 0px;">
                <div style="width: 100%;    height: 250px;">
                    <img src="../../../assets/images/rlp.PNG" style="width:100%">
                </div>
                <div>
                    <h3 style="color: #673ab7;">
                       Régaler les papilles
                    </h3>
                </div>
                <div>
                    <img src="../../../assets/images/rlpText.PNG">
                </div>
            </div>
            <div class="col-3"  style="padding: 0px;">
                <div style="width: 100%;  height: 250px;">
                    <img src="../../../assets/images/sm.PNG"   style="width:100%">
                </div>
                <div>
                    <h3 style="color: #673ab7;">
                       Sur-mesure
                    </h3>
                </div>
                <div>
                    <img src="../../../assets/images/smText.PNG">
                </div>
            </div>
        </div>
        
    </div>
</div>