@import '../../@theme/styles/themes';

.card {
    transition: 0.3s;
    width: 90%;
  }

  .ligne_verticale{
    border-left: 2px solid #000;
    display: inline-block;
    height: 130px;
    margin: 0 20px;
  }


  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  div.container {
    text-align: center;
    padding: 10px 20px;
    
  }

  .titles{
    margin: revert;
    font-family: ui-monospace;
  }


  /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.image-card{
  
  background-image: url(../../../assets/images/bio.jpg);
  background-size: cover;
  background-position: center;
  max-height: 25vw;
  max-width: 100vw;
  height: 192.5px;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;    
}

.content-home{
  
  width: 100% !important;
}

.triangle-div{
  display: inline-block;
  height: 0;
  width: 0;
  border-top: 350px solid #673ab7;
  border-right: 1000px solid transparent; 
}

.shadow-style{
  
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.141), 0 1px 3px 0 rgba(0,0,0,0.122);
}

.slides-div{
  
  background-image: url(../../../assets/images/bg_home.png);
  background-size: cover;
  background-position: center;
  max-height: 25vw;
  max-width: 100vw;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 8px;
  margin-bottom: 12px;    
}

.accroche{
  background-color: #19A782;
  height: inherit;
  width: 55%;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 75% 100%, 0% 100%);
  padding: 85px;
  padding-left: 10px;
}

.accroche-text{
  
  display: block; 
  font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
} 

.titles{
  text-transform: uppercase !important;
  color: rgb(102, 61, 173)  !important;
}