<nb-card>
  <nb-card-header style="text-align: left;">
    <h2 class="ui header">Gestion des Activitée </h2><br>
    <h5 class="ui dividing header">Permet de lister et suprimmer differents activitee</h5>
  </nb-card-header>
</nb-card>

<nb-card class="row one column centered grid content">
  <nb-card-body>
      <div class="row show-grid">
          <div class="col-md-6">
            <div class="row show-grid">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput (keyup)="onQuickFilterChanged()" [(ngModel)]="quickSearchValue" placeholder="quick filter..." >
                    </mat-form-field>
                </div> 
                <div class= "col-md-4" >
                  <mat-form-field>
                      <mat-label><b>{{ categorie.nom }}</b></mat-label>
                          <mat-select placeholder="{{ categorie.nom }}" >
                              <mat-option *ngFor="let c of categories"[value]="categorie.nom" (click)="onSelectCategorie(c)">
                                {{ c.nom  }}
                              </mat-option>   
                          </mat-select>
                      </mat-form-field>
          
              </div>               
            </div>
          </div>
           <div class="col-md-6" style="text-align:right">
                  <button mat-icon-button class="btn btn-blanc styleIcone" (click)="actualiser()" matTooltip="actualiser la liste"
                    matTooltipPosition="above">
                    <mat-icon style="color: teal;">autorenew</mat-icon>
                </button>
                 <button mat-icon-button class="btn btn-blanc styleIcone" (click)="openWindow(contentTemplate)" matTooltip="Voir les details"
                      matTooltipPosition="above">
                      <mat-icon style="color: #41e1da;">visibility</mat-icon>
                 </button>
                 <button mat-icon-button class="btn btn-blanc styleIcone" (click)="downloadPDF()" matTooltip="Télécharger les donnés on format PDF "
                    matTooltipPosition="above">
                    <mat-icon style="color: brown;">picture_as_pdf</mat-icon>
                </button> 
                 <button mat-icon-button class="styleIcone" (click)="open(dialog)" matTooltip="Supprimer la séléction" matTooltipPosition="above">
                      <mat-icon style="color: brown;" >delete_sweep</mat-icon>
                 </button> 
                
               <button mat-icon-button class="btn btn-blanc" class="styleIcone" (click)="goToUpdate()" matTooltip="Modifier les données"
                  matTooltipPosition="above">
                  <mat-icon style="color: royalblue;">edit</mat-icon>
               </button>
               
               <button mat-mini-fab color="primary"  class="styleIcone" (click)="goToAdd()" matTooltip="Nouvel Enregistrement"
                    matTooltipPosition="above">
                  <mat-icon style="color: black">add</mat-icon>
              </button>

              </div>
            </div>  
   
          <div id="content" #content>  
              <ag-grid-angular 
              (gridReady)="onGridReady($event)"
                  style="width: 100%; height:300px;" 
                  class="ag-theme-balham"
                  rowSelection="single"
                  [rowData]="rowData"
                  [columnDefs]="columnDefs"
                  (selectionChanged)="onSelectionChanged($event)"
                  >
              </ag-grid-angular>
            </div>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data >
  <h1 mat-dialog-title>Attention !!</h1>
  <div mat-dialog-content>
    <p>{{ data }}</p>
  </div>
  <div mat-dialog-actions class="row show-grid" >
    <div><button style="margin-right: 5px;padding: 0.3rem 0.2rem;" nbButton (click)="onNoClick()">Annuler</button></div>
    <div><button style="margin-right: 5px;padding: 0.3rem 0.2rem;" nbButton (click)="Supprimer()" cdkFocusInitial>Confirmer</button></div>
  </div>
</ng-template>

<ng-template #contentTemplate>
    <form class="form">
            <label>Type </label>
         <div class="input-group">
            <input type="text" readonly style="margin-bottom: 3px ;width: 500px"[(ngModel)]="activitee.type"  [ngModelOptions]="{standalone:true}"  nbInput   placeholder="Type">
        </div>
        <label>Date </label>
        <div class="input-group">
            
              <input type="text" readonly style="margin-bottom: 3px ;width: 500px"[(ngModel)]="activitee.date"  [ngModelOptions]="{standalone:true}"  nbInput   placeholder="Date">
          </div>
          <label>Duree </label>
          <div class="input-group"> 
              <input type="text" readonly style="margin-bottom: 3px ;width: 500px" [(ngModel)]="activitee.duree"  [ngModelOptions]="{standalone:true}"  nbInput   placeholder="Duree">
          </div>
          <label>Categorie </label>
          <div class="input-group">
              <input type="text" readonly style="margin-bottom: 3px ;width: 500px" [(ngModel)]="activitee.categorie_id"  [ngModelOptions]="{standalone:true}"  nbInput   placeholder="Categorie">
          </div>
    </form> 
</ng-template>